.pybuild/*
build/*
sleepi.egg-info/*
dist/*

debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars

debian/tmp/*
debian/python-sleepi/*
debian/python3-sleepi/*

